/* ========== VARIABLES ========== */
:root {
    --color-teal: #4aaaa5;
    --color-orange: #e1821d;
    --color-white: #fff;
    --color-light-gray1: #dedede;
    --color-light-gray2: #ddd;
    --color-light-gray3: #ccc;
    --color-dark-gray1: #555555;
    --color-dark-gray2: #333333;

    --font-heading: 'Georgia', Times, Times New Roman, serif;
    --font-default: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

body {
    font-family: var(--font-default);
    line-height: 1.6;
    background: url("../images/leaves-pattern.png") repeat;
    color: var(--color-dark-gray1);
    position: relative;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    margin-bottom: 3rem;
    color: var(--color-teal);
    font-size: 3rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--color-light-gray2);
    line-height: 1;
}


/* ========== HEADER ========== */
.header {
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-light-gray3);
}

.header-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-contents .name {
    width: 100%;
    padding: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-teal);
    font-family: var(--font-heading);
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
}

.navigation {
    padding: 1rem;
    list-style: none;
    display: flex;
}

.navigation li {
    padding: 0 2rem;
}

.navigation li:not(:last-of-type) {
    border-right: 1px solid var(--color-light-gray1);
}

.navigation a:link,
.navigation a:visited {
    color: var(--color-dark-gray1);
    text-decoration: none;
    transition: color .3s;
}

.navigation a:hover,
.navigation a:focus {
    color: var(--color-orange);
}

.nav-link.active {
    font-weight: bold;
}


/* ========== MAIN CONTENTS ========== */
.container {
    width: calc(100% - 6rem);
    margin: 3rem auto 12rem;
    padding: 3rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray2);
}


/* ========== FOOTER ========== */
.footer {
    width: 100%;
    padding: 3rem 10rem;
    background-color: var(--color-dark-gray2);
    border-top: .8rem solid var(--color-teal);
    text-align: center;
    color: var(--color-white);
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 1rem .3rem rgba(0,0,0,0.4);
    box-shadow: 0 0 1rem .3rem rgba(0,0,0,0.4);
}

/* ========== ABOUT ME ========== */
.about-contents {
    clear: both;
    overflow: auto;
}

.about-contents p:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.my-photo {
    width: 100%;
    margin: 0 2rem 1rem 0;
}

.my-links {
    margin-top: 2rem;
    padding: 2rem;
    border: 3px dotted var(--color-teal);
    border-radius: 1rem;
}

.my-links li {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.my-links li:not(:last-child) {
    margin-bottom: 1rem;
}

.my-links ion-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

.my-links a:link,
.my-links a:visited {
    color: var(--color-teal);
    text-decoration: none;
}

.my-links a:hover,
.my-links a:focus {
    color: var(--color-teal);
    border-bottom: 1px solid var(--color-teal);
}

.my-links span {
    font-weight: bold;
}


/* ========== PORTFOLIO ========== */
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list li {
    width: 100%;
    position: relative;
}

.portfolio-list li:not(:last-of-type) {
    margin-bottom: 3rem;
}

.portfolio-title {
    margin-bottom: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}

.portfolio-title a {
    color: var(--color-dark-gray2);
    transition: opacity .3s;
}

.portfolio-title a:hover,
.portfolio-title a:focus {
    color: var(--color-dark-gray1);
}

.portfolio-item-container {
    width: 100%;
    position: relative;
}

.portfolio-item-container img {
    width: 100%;
    display: block;
}

.portfolio-button {
    width: 42%;
    padding: .6rem 0;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--color-white);
    font-weight: normal;
    background-color: var(--color-teal);
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.portfolio-button.left {
    left: 5%;
}

.portfolio-button.right {
    right: 5%;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--color-orange);
}

.portfolio-button ion-icon {
    margin-right: 1rem;
}


/* ========== CONTACT ========== */
.contact-item {
    margin-bottom: 2rem;
}

.contact-form label,
.contact-form input {
    display: block;
}

.contact-form label {
    margin-bottom: .5rem;
}

.input-text {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-light-gray3);
}

.contact-form textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-light-gray3);
}

.submit-btn {
    color: var(--color-white);
    background-color: var(--color-teal);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color .3s;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--color-orange);
}

@media screen and (min-width: 641px) {
/* width: 641px to 768px */
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }

    .my-photo {
        max-width: 50%;
        float: left;
    }

    .header-contents {
        max-width: 96rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-contents .name {
        width: unset !important;
        padding: 1.5rem 4rem;
    }

    .navigation {
        padding: 0;
    }

    .navigation li {
        padding: 0 1.5rem;
    }

    .container {
        max-width: 96rem;
    }

    .portfolio-list {
        justify-content: space-between;
    }

    .portfolio-list li {
        width: calc((100% - 3rem) / 2);
    }

    .portfolio-item-container img {
        max-width: 100%;
    }

    .portfolio-button {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 769px) {
/* width: 769px to 980px */

}

@media screen and (min-width: 981px) {
/* width: 980px to */

}