/* ========== VARIABLES ========== */
:root {
    --color-teal: #4aaaa5;
    --color-orange: #e1821d;
    --color-white: #fff;
    --color-light-gray1: #dedede;
    --color-light-gray2: #ddd;
    --color-light-gray3: #ccc;
    --color-dark-gray1: #777;
    --color-dark-gray2: #666;

    --font-heading: 'Georgia', Times, Times New Roman, serif;
    --font-default: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    /* RESPONSIVE BREAKPOINTS */
    --bp-l: 61.25em;  /* 980px */
    --bp-m: 58em;    /* 768px */
    --bp-s: 40em;     /* 640px */
}

/* ========== COMMON ========== */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 50%; /* 8px/16px = 50% -> 1rem = 8px */
}

@media only screen and (min-width: 640px) {
    html {
        font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
    }
}


body {
    font-family: var(--font-default);
    line-height: 1.6;
    background: url("../images/leaves-pattern.png") repeat;
    color: var(--color-dark-gray1);
    position: relative;
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
}

h1 {
    margin-bottom: 3rem;
    color: var(--color-teal);
    font-size: 3rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--color-light-gray2);
    line-height: 1;
}


/* ========== HEADER ========== */
.header {
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-light-gray3);
}

.header-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 641px) {
    .header-contents {
        max-width: 96rem;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between;
    }
}

div.name {
    width: 100%;
    padding: 1.5rem;
    color: var(--color-white);
    background-color: var(--color-teal);
    font-family: var(--font-heading);
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 641px) {
    .name {
        width: unset !important;
        padding: 1.5rem 4rem;
    }
}

.navigation {
    padding: 1rem;
    list-style: none;
    display: flex;
}
@media only screen and (min-width: 641px) {
    .navigation {
        padding: 0;
    }
}

.navigation li {
    padding: 0 2rem;
}
@media only screen and (min-width: 641px) {
    .navigation li {
        padding: 0 1.5rem;
    }
}

.navigation li:not(:last-of-type) {
    border-right: 1px solid var(--color-light-gray1);
}

.navigation a:link,
.navigation a:visited {
    color: var(--color-dark-gray1);
    text-decoration: none;
    transition: color .3s;
}

.navigation a:hover,
.navigation a:focus {
    color: var(--color-orange);
}


/* ========== MAIN CONTENTS ========== */
.container {
    width: 960px;
    margin: 3rem auto 10rem;
    padding: 3rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray2);
}


/* ========== FOOTER ========== */
.footer {
    width: 100%;
    padding: 3rem 10rem;
    background-color: var(--color-dark-gray2);
    border-top: .8rem solid var(--color-teal);
    text-align: center;
    color: var(--color-white);
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 0 0 1rem .3rem rgba(0,0,0,0.4);
    box-shadow: 0 0 1rem .3rem rgba(0,0,0,0.4);
}

/* ========== ABOUT ME ========== */
.about-contents {
    clear: both;
    overflow: auto;
}

.my-photo {
    margin: 0 2rem 1rem 0;
    float: left;
}

/* ========== PORTFOLIO ========== */
.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list li {
    margin-right: 4.6rem;
    position: relative;
}

.portfolio-link {
    opacity: 1;
    transition: opacity .3s;
}

.portfolio-link:hover {
    opacity: .7;
}

.portfolio-list li:not(:last-of-type) {
    margin-bottom: 3rem;
}

.portfolio-title {
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 0;
    text-align: center;
    font-size: 2.4rem;
    color: var(--color-white);
    font-weight: normal;
    background-color: var(--color-teal);
    transition: background-color .3s;
}

.portfolio-link:hover .portfolio-title {
    background-color: var(--color-orange);
}

/* ========== CONTACT ========== */
.contact-item {
    margin-bottom: 2rem;
}

.contact-form label,
.contact-form input {
    display: block;
}

.contact-form label {
    margin-bottom: .5rem;
}

.input-text {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-light-gray3);
}

.contact-form textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid var(--color-light-gray3);
}

.submit-btn {
    color: var(--color-white);
    background-color: var(--color-teal);
    padding: 1rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color .3s;
}

.submit-btn:hover,
.submit-btn:focus {
    background-color: var(--color-orange);
}

@media screen and (min-width: 641px) {

}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 981px) {

}